\[Unit]
Description=UbiOne-Rover-BT

[Service]
User=pi
WorkingDirectory=/home/pi/UbiOne/examples/drone/v_bluetooth
ExecStart=/home/pi/Ubiquo/env/bin/python control_ps4_bt.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
